<% layout('layouts/boilerplate')%>

<div class="col-md-4 col-10 offset-1 offset-md-4 mt-5" style="border:2px black solid;">
	<div class="" style="margin-top:10%">
		<h2 class="d-flex justify-content-center" style="display:block;">
			Contact Us
		</h2>
		<br>
		<p class="d-flex justify-content-center" style="display:block;">
			언제나 친절한 상담 약속드립니다.
		</p>
	</div>
	<div class="mt-4">
		<p class="d-flex justify-content-center">
			Tel. 010-1231-133 / FAX. 02-2525-2532
		</p>
		<p class="d-flex justify-content-center" style="font-size:0.8rem;">
			평일: 오전 09:00 ~ 18:00 / 토,일요일,공휴일: 휴무
		</p>
		<a role="button" href="/form" class="btn btn-outline-dark d-flex justify-content-center mx-5">고객센터 바로가기 ></a>
		
	</div>
	
	<div class="mt-4 mb-4">
		<h5 class="d-flex justify-content-center">
			(주) 이든테크 본사
		</h5>
		<p class="d-flex justify-content-center">
			서울특별시 금천구 가산동
		</p>
		<a role="button" href="https://m.map.naver.com/search2/search.naver?query=%EC%9A%B0%EC%9E%A5%EC%82%B0%20%EC%95%84%EC%9D%B4%ED%8C%8C%ED%81%AC&sm=hty&style=v5#/map/1/18929892" class="btn btn-outline-dark d-flex justify-content-center mx-5">오시는길 바로가기 ></a>
	</div>
</div>