<% layout('layouts/boilerplate')%>

<div class="container mt-5">
	<div class="d-flex justify-content-center">
		<h1>
			견적신청
		</h1>
	</div>

	<form class="row g-4 container-fluid mt-3">
		<div class="col-md-6">
			<label for="inputEmail4" class="form-label mt-3">회사명</label>
			<input
				type="email"
				class="form-control"
				id="inputEmail4"
				placeholder="회사명를 입력해주세요"
			/>
		</div>
		<div class="col-md-6">
			<label for="inputPassword4" class="form-label mt-3">담당자명</label>
			<input
				type="password"
				class="form-control"
				id="inputPassword4"
				placeholder="담당자를 입력해주세요"
			/>
		</div>
		<div class="col-12">
			<label for="inputAddress" class="form-label mt-3">연락처</label>
			<input
				type="text"
				class="form-control"
				id="inputAddress"
				placeholder="연락처를 입력해주세요"
			/>
		</div>
		<div class="col-12">
			<label for="inputAddress2" class="form-label mt-3">이메일</label>
			<input
				type="text"
				class="form-control"
				id="inputAddress2"
				placeholder="이메일을 입력해주세요"
			/>
		</div>
		<div class="col-md-6">
			<label for="inputCity" class="form-label mt-3">제품명</label>
			<input type="text" class="form-control" id="inputCity" placeholder="제품명을 입력해주세요" />
		</div>
		<div class="col-md-6">
			<label for="inputState" class="form-label mt-3 d-block">견적종류</label>
			<select id="inputState" aria-label=".form-select-xl" class="form-select-xl">
				<option selected>설비</option>
				<option>부품/생활가전</option>
				<option>생산</option>
			</select>
		</div>
		<div class="col-md-12">
			<label for="inputZip" class="form-label mt-3">견적요청일자</label>
			<input type="text" class="form-control" id="inputZip" placeholder="견적요청일자를 입력해주세요" />
		</div>

		<div class="g-3 align-items-center mt-3">
			<div class="col-auto">
				<label for="inputPassword6" class="col-form-label">비밀번호설정</label>
			</div>
			<div class="col-auto mb-5">
				<input
					type="password"
					id="inputPassword6"
					class="form-control"
					placeholder="비밀번호를 입력해주세요"   
					aria-describedby="passwordHelpInline"
				/>
			</div>
			
			<div class="input-group my-3">
  <input type="file" class="form-control" id="inputGroupFile02">
  <label class="input-group-text" for="inputGroupFile02">Upload</label>
</div>
			<!-- <div class="col-auto">
				<span id="passwordHelpInline" class="form-text">
					8~20자내외 비밀번호 설정을 해주세요
				</span>
			</div> -->
		</div>

		<div class="col-12">
			<div class="form-check mt-3">
				<input class="form-check-input" type="checkbox" id="gridCheck" />
				<label class="form-check-label" for="gridCheck">
					개인정보 수집이용에 동의합니다
				</label>
			</div>
		</div>
		
		<div class="col-12 mt-3 mb-5 d-flex justify-content-center">
			<button type="button" class="btn btn-primary ml-3">견적요청하기</button>
			<button type="submit" class="btn btn-primary ml-3">취소하기</button>
		</div>
	</form>

</div>



