<% layout('layouts/boilerplate')%>

<div class="card container mt-5" style="width: 18rem;">
  <div class="card-body px-1 row justify-content-center">
    <h5 class="card-title justify-content-center mb-3">페이지를 찾을수가 없습니다.</h5>
    <p class="card-text d-flex justify-content-center">정상적인 접근을 해주십시오</p>
    <a href="/" class="btn btn-dark">Go Home</a>
  </div>
</div>