<% layout('layouts/boilerplate')%>

<div class="d-flex justify-content-center my-3" data-aos="fade-down" data-aos-duration="3000">
	<h1>
		PRODUCT-1
	</h1>
</div>

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
	AOS.init();
</script>